.blog {
    width: 80%;
    margin: auto;
}

.blog_titre {
    width: 100%;
    margin-top: 3em;
    margin-bottom:8em;
}

.blog_titre h1 {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: 'DM Serif Text';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:1.5em 0;
}

.blog_connexion {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.blog_connexion div{
    width: 25%;
    text-align: center;
}

.blog_connexion div p{
    border-radius: 17px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 5px solid #E29BE3;
    color: #000;
    font-family: 'Work Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}






