

.quisommesnous_titre {
    width: 80%;
    margin: auto;
    margin-top: 3em;
    margin-bottom:8em;
}

.quisommesnous_titre h1 {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: 'DM Serif Text';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:1.5em 0;
}

.quisommesnous_connexion {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.quisommesnous_connexion div{
    width: 25%;
    text-align: center;
}

.quisommesnous_connexion div p{
    border-radius: 17px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 5px solid #E29BE3;
    color: #000;
    font-family: 'Work Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.quisommesnous_sous_titre {
    text-align: center;
    margin-bottom: 4em;
}

.quisommesnous_sous_titre>h3 {
    color: #E29BE3;
    text-align: center;
    font-family: 'Work Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quisommesnous_sous_titre>h2 {
    color: #000;
    text-align: center;
    font-family: 'DM Serif Text';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quisommesnous_description {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5em;
}

.quisommesnous_description> div{
    width: 50%;
}

.quisommesnous_img{
    width: 60%;
    margin: auto;
}

.quisommesnous_img >img {
    width: 100%;
}

.quisommesnous_text > div {
    width: 80%;
}

.quisommesnous_text > div > p{
    color: #000;
    font-family: 'Work Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.quisommesnous_services {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3em;
}

.quisommesnous_service {
    width: 33%;
    text-align: center;
    padding-bottom: 2em;
}

.quisommesnous_service_image {
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.quisommesnous_service_image>img {
    width: 100%;
}

.quisommesnous_service_text {
    width: 80%;
    margin: auto;
}

.quisommesnous_service_text>h5 {
    margin-bottom: 1em;
}

.quisommesnous_service_text>p {
    color: #000;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quisommesnous_service_text h5 span {
    color: #E29BE3;
}