
.quisommesnous_description {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5em;
}

.quisommesnous_description> div{
    width: 50%;
}

.quisommesnous_img{
    width: 60%;
    margin: auto;
}

.quisommesnous_img >img {
    width: 100%;
}

.quisommesnous_text > div {
    width: 80%;
}

.quisommesnous_text > div > ul {
    color: #000;
    font-family: 'Work Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quisommesnous_text > div > div > h4 {
    color: #000;
    font-family: 'DM Serif Text';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1em;
}

.quisommesnous_text > div > h5 {
    color: #000;
    font-family: 'DM Serif Text';
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 1em;
    margin-top: 1em;
}




.quisommesnous_services {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3em;
}

.quisommesnous_service {
    width: 33%;
    text-align: center;
    padding-bottom: 2em;
}

.quisommesnous_service_image {
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.quisommesnous_service_image>img {
    width: 100%;
}

.quisommesnous_service_text {
    width: 80%;
    margin: auto;
}

.quisommesnous_service_text>h5 {
    margin-bottom: 1em;
}

.quisommesnous_service_text>p {
    color: #000;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quisommesnous_service_text h5 span {
    color: #E29BE3;
}