.services {
    width: 80%;
    margin: auto;
}

.services_titre {
    width: 100%;
    margin-top: 3em;
    margin-bottom:8em;
}

.services_titre h1 {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: 'DM Serif Text';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:1.5em 0;
}

.services_connexion {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.services_connexion div{
    width: 25%;
    text-align: center;
}

.services_connexion div p{
    border-radius: 17px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 5px solid #E29BE3;
    color: #000;
    font-family: 'Work Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.service {
    width: 80%;
    margin: auto;
    margin-bottom: 5em;
}

.service h3 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.souligne {
    border-bottom: 2px solid #E10EE5; 
    padding-bottom: 10px;

}

.service_col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.service_col_deux {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
}

.service_col_deux>div {
    width: 50%;
}

.service_col_deux .service_text  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}



.service_col>div {
    width: 50%;
}

.service_img>div {
    width: 60%;
    margin: auto;
}

.service_img img {
    width: 100%;
}

.service_text div{
    width:80%;
}



.service_text div p,.service_text_a p  {
    color: #000;
    font-family: 'Work Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.service_text_a {
    padding-top: 2em;
    width: 80%;
    margin: auto;
    padding-bottom: 2em;
}



