.carrousel_partenaires {
    width: 100%;
    background-color: #EEE7EE;
    padding-top: 0.5em;
}

.carrousel_partenaires>h3 {
    margin-top: 1em;
    margin-bottom:1.5em;
    color: #000;
    text-align: center;
    font-family: 'DM Serif Text';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.carrousel_partenaires_text {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

.carrousel_partenaires_text>div {
    width: 25%;
    margin: auto;
}

.carrousel_partenaires_text>div>div {
    width:50%;
    margin: auto;
    border: solid 3px #E10EE5;
    text-align: center;
    padding: 1em;
    border-radius: 5000px;
}

.carrousel_partenaires_text>div>div>img {
    width: 150px;
    height: 150px;

}


.left_partenaires,.right_partenaires{
    position: relative;
    bottom:  140px ;
    border: solid 2px black;
    height: 40px;
    width: 40px;
    margin: auto;
    display: inline-flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
}

.left_partenaires {
    left: 8% ;
}

.right_partenaires {
    left: 88%;
}